/*

Script created by SQL Compare version 8.0.0 from Red Gate Software Ltd at 06/10/2010 15:45:48

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping foreign keys from [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] DROP
CONSTRAINT [FK_Basket_Country],
CONSTRAINT [FK_Order_User]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] DROP
CONSTRAINT [FK_BasketItem_Basket],
CONSTRAINT [FK_OrderItem_Size]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Card]'
GO
ALTER TABLE [dbo].[Card] DROP
CONSTRAINT [FK_Card_CardType]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Category]'
GO
ALTER TABLE [dbo].[Category] DROP
CONSTRAINT [FK_Category_Category]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] DROP
CONSTRAINT [FK_Contact_Country]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] DROP
CONSTRAINT [FK_Content_ContentType],
CONSTRAINT [FK_Content_Content]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] DROP
CONSTRAINT [FK_Country_PostZone]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] DROP
CONSTRAINT [FK_MailingListSubscription_Contact]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] DROP
CONSTRAINT [FK_Order_Basket],
CONSTRAINT [FK_Order_Contact],
CONSTRAINT [FK_Order_OrderStatus],
CONSTRAINT [FK_Order_Card],
CONSTRAINT [FK_Order_Contact1],
CONSTRAINT [FK_Order_User1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[ProductCategory]'
GO
ALTER TABLE [dbo].[ProductCategory] DROP
CONSTRAINT [FK_ProductCategory_Product],
CONSTRAINT [FK_ProductCategory_Category]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] DROP
CONSTRAINT [FK_ProductImage_Product],
CONSTRAINT [FK_ProductImage_Image]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Size]'
GO
ALTER TABLE [dbo].[Size] DROP
CONSTRAINT [FK_Size_Product]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[User]'
GO
ALTER TABLE [dbo].[User] DROP
CONSTRAINT [FK_User_Role]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] DROP CONSTRAINT [PK_Order]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] DROP CONSTRAINT [Basket_CountryId_Default]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] DROP CONSTRAINT [PK_OrderItem]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Card]'
GO
ALTER TABLE [dbo].[Card] DROP CONSTRAINT [PK_Card]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[CardType]'
GO
ALTER TABLE [dbo].[CardType] DROP CONSTRAINT [PK_CardType]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Category]'
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [category_name_unique]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Category]'
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [PK_Category]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] DROP CONSTRAINT [PK_Contact]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] DROP CONSTRAINT [unique_name]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] DROP CONSTRAINT [unique_urlName]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] DROP CONSTRAINT [PK_Content]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[ContentType]'
GO
ALTER TABLE [dbo].[ContentType] DROP CONSTRAINT [PK_ContentType]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] DROP CONSTRAINT [PK_Country]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Image]'
GO
ALTER TABLE [dbo].[Image] DROP CONSTRAINT [PK_Image]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] DROP CONSTRAINT [PK_MailingListSubscription]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] DROP CONSTRAINT [DF_MailingListSubscription_DateSubscribed]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [PK_Order_1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [DF_Order_ContactMe]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[OrderStatus]'
GO
ALTER TABLE [dbo].[OrderStatus] DROP CONSTRAINT [PK_OrderStatus]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Postage]'
GO
ALTER TABLE [dbo].[Postage] DROP CONSTRAINT [PK_Postage]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[PostZone]'
GO
ALTER TABLE [dbo].[PostZone] DROP CONSTRAINT [PK_PostZone]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Product]'
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [product_name_unique]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Product]'
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [PK_Product]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[ProductCategory]'
GO
ALTER TABLE [dbo].[ProductCategory] DROP CONSTRAINT [PK_ProductCategory]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] DROP CONSTRAINT [productImage_productId_imageId_unique]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] DROP CONSTRAINT [PK_ProductImage]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [PK_Review]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Role]'
GO
ALTER TABLE [dbo].[Role] DROP CONSTRAINT [PK_Role]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Size]'
GO
ALTER TABLE [dbo].[Size] DROP CONSTRAINT [PK_Size]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[User]'
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [user_email_unique]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[User]'
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [PK_User]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Address1] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Address2] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Address3] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Firstname] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Lastname] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Postcode] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Telephone] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [Town] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [County] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Contact] ALTER COLUMN [CountryId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Contact__5C66259B03317E3D] on [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] ADD CONSTRAINT [PK__Contact__5C66259B03317E3D] PRIMARY KEY CLUSTERED  ([ContactId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] ALTER COLUMN [Email] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[MailingListSubscription] ALTER COLUMN [DateSubscribed] [datetime] NULL
ALTER TABLE [dbo].[MailingListSubscription] ALTER COLUMN [ContactId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__MailingL__75B998BF534D60F1] on [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] ADD CONSTRAINT [PK__MailingL__75B998BF534D60F1] PRIMARY KEY CLUSTERED  ([MailingListSubscriptionId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[PostZone]'
GO
ALTER TABLE [dbo].[PostZone] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[PostZone] ALTER COLUMN [Multiplier] [decimal] (19, 5) NULL
ALTER TABLE [dbo].[PostZone] ALTER COLUMN [AskIfMaxWeight] [bit] NULL
ALTER TABLE [dbo].[PostZone] ALTER COLUMN [Position] [int] NULL
ALTER TABLE [dbo].[PostZone] ALTER COLUMN [IsActive] [bit] NULL
ALTER TABLE [dbo].[PostZone] ALTER COLUMN [FlatRate] [decimal] (19, 5) NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__PostZone__F5DC87422D27B809] on [dbo].[PostZone]'
GO
ALTER TABLE [dbo].[PostZone] ADD CONSTRAINT [PK__PostZone__F5DC87422D27B809] PRIMARY KEY CLUSTERED  ([PostZoneId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Country] ALTER COLUMN [IsActive] [bit] NULL
ALTER TABLE [dbo].[Country] ALTER COLUMN [Position] [int] NULL
ALTER TABLE [dbo].[Country] ALTER COLUMN [PostZoneId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Country__10D1609F403A8C7D] on [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] ADD CONSTRAINT [PK__Country__10D1609F403A8C7D] PRIMARY KEY CLUSTERED  ([CountryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] ADD
[PostageDescription] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL,
[PostagePhone] [bit] NULL,
[PostagePrice] [decimal] (19, 5) NULL,
[ModifiedById] [int] NULL,
[ContactId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
update [dbo].[Order] set [ModifiedById] = [UserId]
GO
update [dbo].[Order] set [UserId] = 1
GO
--ALTER TABLE [dbo].[Order] DROP
--COLUMN [BasketId]
--GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
ALTER TABLE [dbo].[Order] ALTER COLUMN [Email] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [AdditionalInformation] [nvarchar] (max) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [UseCardHolderContact] [bit] NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [PayByTelephone] [bit] NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [CreatedDate] [datetime] NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [DispatchedDate] [datetime] NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [Note] [nvarchar] (max) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [ContactMe] [bit] NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [CardContactId] [int] NULL
ALTER TABLE [dbo].[Order] ALTER COLUMN [OrderStatusId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Order__C3905BCF4BAC3F29] on [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] ADD CONSTRAINT [PK__Order__C3905BCF4BAC3F29] PRIMARY KEY CLUSTERED  ([OrderId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[User]'
GO
ALTER TABLE [dbo].[User] DROP
COLUMN [Timestamp]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
ALTER TABLE [dbo].[User] ALTER COLUMN [Email] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[User] ALTER COLUMN [Password] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[User] ALTER COLUMN [IsEnabled] [bit] NULL
ALTER TABLE [dbo].[User] ALTER COLUMN [RoleId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__User__1788CC4C21B6055D] on [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD CONSTRAINT [PK__User__1788CC4C21B6055D] PRIMARY KEY CLUSTERED  ([UserId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Card]'
GO
ALTER TABLE [dbo].[Card] ALTER COLUMN [ExpiryMonth] [int] NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [ExpiryYear] [int] NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [Holder] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [IssueNumber] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [Number] [nvarchar] (500) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [SecurityCode] [nvarchar] (500) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [StartMonth] [int] NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [StartYear] [int] NULL
ALTER TABLE [dbo].[Card] ALTER COLUMN [CardTypeId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Card__55FECDAE47DBAE45] on [dbo].[Card]'
GO
ALTER TABLE [dbo].[Card] ADD CONSTRAINT [PK__Card__55FECDAE47DBAE45] PRIMARY KEY CLUSTERED  ([CardId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[OrderStatus]'
GO
ALTER TABLE [dbo].[OrderStatus] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__OrderSta__BC674CA129572725] on [dbo].[OrderStatus]'
GO
ALTER TABLE [dbo].[OrderStatus] ADD CONSTRAINT [PK__OrderSta__BC674CA129572725] PRIMARY KEY CLUSTERED  ([OrderStatusId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Product]'
GO
ALTER TABLE [dbo].[Product] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Product] ALTER COLUMN [Description] [nvarchar] (max) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Product] ALTER COLUMN [Price] [decimal] (19, 5) NULL
ALTER TABLE [dbo].[Product] ALTER COLUMN [Position] [int] NULL
ALTER TABLE [dbo].[Product] ALTER COLUMN [Weight] [int] NULL
ALTER TABLE [dbo].[Product] ALTER COLUMN [IsActive] [bit] NULL
ALTER TABLE [dbo].[Product] ALTER COLUMN [UrlName] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Product__B40CC6CD1273C1CD] on [dbo].[Product]'
GO
ALTER TABLE [dbo].[Product] ADD CONSTRAINT [PK__Product__B40CC6CD1273C1CD] PRIMARY KEY CLUSTERED  ([ProductId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[ProductCategory]'
GO
ALTER TABLE [dbo].[ProductCategory] ALTER COLUMN [ProductId] [int] NULL
ALTER TABLE [dbo].[ProductCategory] ALTER COLUMN [CategoryId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__ProductC__3224ECCE25869641] on [dbo].[ProductCategory]'
GO
ALTER TABLE [dbo].[ProductCategory] ADD CONSTRAINT [PK__ProductC__3224ECCE25869641] PRIMARY KEY CLUSTERED  ([ProductCategoryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Category]'
GO
ALTER TABLE [dbo].[Category] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Category] ALTER COLUMN [Position] [int] NULL
ALTER TABLE [dbo].[Category] ALTER COLUMN [IsActive] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Category__19093A0B07020F21] on [dbo].[Category]'
GO
ALTER TABLE [dbo].[Category] ADD CONSTRAINT [PK__Category__19093A0B07020F21] PRIMARY KEY CLUSTERED  ([CategoryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[ContentType]'
GO
ALTER TABLE [dbo].[ContentType] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__ContentT__2026064A38996AB5] on [dbo].[ContentType]'
GO
ALTER TABLE [dbo].[ContentType] ADD CONSTRAINT [PK__ContentT__2026064A38996AB5] PRIMARY KEY CLUSTERED  ([ContentTypeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] ALTER COLUMN [ContentType] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [Position] [int] NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [IsActive] [bit] NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [UrlName] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [ContentTypeId] [int] NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [Text] [nvarchar] (max) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [Controller] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Content] ALTER COLUMN [Action] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Content__2907A81E1A14E395] on [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] ADD CONSTRAINT [PK__Content__2907A81E1A14E395] PRIMARY KEY CLUSTERED  ([ContentId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Image]'
GO
ALTER TABLE [dbo].[Image] ALTER COLUMN [FileName] [uniqueidentifier] NULL
ALTER TABLE [dbo].[Image] ALTER COLUMN [Description] [nvarchar] (max) COLLATE Latin1_General_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Image__7516F70C164452B1] on [dbo].[Image]'
GO
ALTER TABLE [dbo].[Image] ADD CONSTRAINT [PK__Image__7516F70C164452B1] PRIMARY KEY CLUSTERED  ([ImageId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Role]'
GO
ALTER TABLE [dbo].[Role] DROP
COLUMN [Timestamp]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
ALTER TABLE [dbo].[Role] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Role__8AFACE1A1DE57479] on [dbo].[Role]'
GO
ALTER TABLE [dbo].[Role] ADD CONSTRAINT [PK__Role__8AFACE1A1DE57479] PRIMARY KEY CLUSTERED  ([RoleId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Size]'
GO
ALTER TABLE [dbo].[Size] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Size] ALTER COLUMN [IsActive] [bit] NULL
ALTER TABLE [dbo].[Size] ALTER COLUMN [IsInStock] [bit] NULL
ALTER TABLE [dbo].[Size] ALTER COLUMN [ProductId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Size__83BD097A440B1D61] on [dbo].[Size]'
GO
ALTER TABLE [dbo].[Size] ADD CONSTRAINT [PK__Size__83BD097A440B1D61] PRIMARY KEY CLUSTERED  ([SizeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] ALTER COLUMN [Quantity] [int] NULL
ALTER TABLE [dbo].[BasketItem] ALTER COLUMN [BasketId] [int] NULL
ALTER TABLE [dbo].[BasketItem] ALTER COLUMN [SizeId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__BasketIt__6051AA0B34C8D9D1] on [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] ADD CONSTRAINT [PK__BasketIt__6051AA0B34C8D9D1] PRIMARY KEY CLUSTERED  ([BasketItemId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] ALTER COLUMN [OrderDate] [datetime] NULL
ALTER TABLE [dbo].[Basket] ALTER COLUMN [CountryId] [int] NULL
ALTER TABLE [dbo].[Basket] ALTER COLUMN [UserId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Basket__8FDA77B50EA330E9] on [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] ADD CONSTRAINT [PK__Basket__8FDA77B50EA330E9] PRIMARY KEY CLUSTERED  ([BasketId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[CardType]'
GO
ALTER TABLE [dbo].[CardType] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[CardType] ALTER COLUMN [RequiredIssueNumber] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__CardType__AB0A3D110AD2A005] on [dbo].[CardType]'
GO
ALTER TABLE [dbo].[CardType] ADD CONSTRAINT [PK__CardType__AB0A3D110AD2A005] PRIMARY KEY CLUSTERED  ([CardTypeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[OrderLine]'
GO
CREATE TABLE [dbo].[OrderLine]
(
[OrderLineId] [int] NOT NULL IDENTITY(1, 1),
[ProductName] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL,
[Quantity] [int] NULL,
[Price] [decimal] (19, 5) NULL,
[OrderId] [int] NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__OrderLin__29068A107F60ED59] on [dbo].[OrderLine]'
GO
ALTER TABLE [dbo].[OrderLine] ADD CONSTRAINT [PK__OrderLin__29068A107F60ED59] PRIMARY KEY CLUSTERED  ([OrderLineId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] ALTER COLUMN [Approved] [bit] NULL
ALTER TABLE [dbo].[Review] ALTER COLUMN [Reviewer] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Review] ALTER COLUMN [ProductId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Review__74BC79CE3C69FB99] on [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] ADD CONSTRAINT [PK__Review__74BC79CE3C69FB99] PRIMARY KEY CLUSTERED  ([ReviewId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] ALTER COLUMN [Position] [int] NULL
ALTER TABLE [dbo].[ProductImage] ALTER COLUMN [ProductId] [int] NULL
ALTER TABLE [dbo].[ProductImage] ALTER COLUMN [ImageId] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__ProductI__07B2B1B84F7CD00D] on [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] ADD CONSTRAINT [PK__ProductI__07B2B1B84F7CD00D] PRIMARY KEY CLUSTERED  ([ProductImageId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Postage]'
GO
ALTER TABLE [dbo].[Postage] ALTER COLUMN [IsActive] [bit] NULL
ALTER TABLE [dbo].[Postage] ALTER COLUMN [MaxWeight] [int] NULL
ALTER TABLE [dbo].[Postage] ALTER COLUMN [Name] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL
ALTER TABLE [dbo].[Postage] ALTER COLUMN [Position] [int] NULL
ALTER TABLE [dbo].[Postage] ALTER COLUMN [Price] [decimal] (19, 5) NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Postage__203F354A30F848ED] on [dbo].[Postage]'
GO
ALTER TABLE [dbo].[Postage] ADD CONSTRAINT [PK__Postage__203F354A30F848ED] PRIMARY KEY CLUSTERED  ([PostageId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] ADD
CONSTRAINT [FKD4474AC2350E3BF0] FOREIGN KEY ([CountryId]) REFERENCES [dbo].[Country] ([CountryId]),
CONSTRAINT [FKD4474AC28703A8E0] FOREIGN KEY ([UserId]) REFERENCES [dbo].[User] ([UserId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] ADD
CONSTRAINT [FK729387BD8B64590B] FOREIGN KEY ([BasketId]) REFERENCES [dbo].[Basket] ([BasketId]),
CONSTRAINT [FK729387BD318371E4] FOREIGN KEY ([SizeId]) REFERENCES [dbo].[Size] ([SizeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Card]'
GO
ALTER TABLE [dbo].[Card] ADD
CONSTRAINT [FK91F019EDAD81ACAD] FOREIGN KEY ([CardTypeId]) REFERENCES [dbo].[CardType] ([CardTypeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Category]'
GO
ALTER TABLE [dbo].[Category] ADD
CONSTRAINT [FK6482F242EC1B23E] FOREIGN KEY ([ImageId]) REFERENCES [dbo].[Image] ([ImageId]),
CONSTRAINT [FK6482F24565E1830] FOREIGN KEY ([ParentId]) REFERENCES [dbo].[Category] ([CategoryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] ADD
CONSTRAINT [FK4FF8F4B2350E3BF0] FOREIGN KEY ([CountryId]) REFERENCES [dbo].[Country] ([CountryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] ADD
CONSTRAINT [FK4FEDF4B6E53A5F80] FOREIGN KEY ([ContentTypeId]) REFERENCES [dbo].[ContentType] ([ContentTypeId]),
CONSTRAINT [FK4FEDF4B6722A22C5] FOREIGN KEY ([ParentContentId]) REFERENCES [dbo].[Content] ([ContentId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] ADD
CONSTRAINT [FK2ABF29C369941CDB] FOREIGN KEY ([PostZoneId]) REFERENCES [dbo].[PostZone] ([PostZoneId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] ADD
CONSTRAINT [FK1CD411ADF3F5630] FOREIGN KEY ([ContactId]) REFERENCES [dbo].[Contact] ([ContactId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] ADD
CONSTRAINT [FK3117099B9A379CC1] FOREIGN KEY ([CardContactId]) REFERENCES [dbo].[Contact] ([ContactId]),
CONSTRAINT [FK3117099BD8D66880] FOREIGN KEY ([OrderStatusId]) REFERENCES [dbo].[OrderStatus] ([OrderStatusId]),
CONSTRAINT [FK3117099BA708CB3A] FOREIGN KEY ([ModifiedById]) REFERENCES [dbo].[User] ([UserId]),
CONSTRAINT [FK3117099BDF3F5630] FOREIGN KEY ([ContactId]) REFERENCES [dbo].[Contact] ([ContactId]),
CONSTRAINT [FK3117099B6BE90924] FOREIGN KEY ([DeliveryContactId]) REFERENCES [dbo].[Contact] ([ContactId]),
CONSTRAINT [FK3117099B8703A8E0] FOREIGN KEY ([UserId]) REFERENCES [dbo].[User] ([UserId]),
CONSTRAINT [FK3117099BB1026BB4] FOREIGN KEY ([CardId]) REFERENCES [dbo].[Card] ([CardId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[OrderLine]'
GO
ALTER TABLE [dbo].[OrderLine] ADD
CONSTRAINT [FK9D642A8F71931278] FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Order] ([OrderId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[ProductCategory]'
GO
ALTER TABLE [dbo].[ProductCategory] ADD
CONSTRAINT [FK4022F9D7655B84E7] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Product] ([ProductId]),
CONSTRAINT [FK4022F9D7EEC058F7] FOREIGN KEY ([CategoryId]) REFERENCES [dbo].[Category] ([CategoryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] ADD
CONSTRAINT [FKD8C46FDB655B84E7] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Product] ([ProductId]),
CONSTRAINT [FKD8C46FDB2EC1B23E] FOREIGN KEY ([ImageId]) REFERENCES [dbo].[Image] ([ImageId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] ADD
CONSTRAINT [FKD28CAB63655B84E7] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Product] ([ProductId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Size]'
GO
ALTER TABLE [dbo].[Size] ADD
CONSTRAINT [FKF1577525655B84E7] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Product] ([ProductId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD
CONSTRAINT [FK7185C17CEF538E9E] FOREIGN KEY ([RoleId]) REFERENCES [dbo].[Role] ([RoleId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
--------------------- update existing order data -----------------------------------
-- create order lines from basket items
insert OrderLine (ProductName, Quantity, Price, OrderId)
select
	case s.Name
		when '-' then p.Name
		else p.Name + ' - ' + s.Name 
	end as ProductName,
	bi.Quantity,
	p.Price,
	o.OrderId
from [Order] o
join [Basket] b on o.BasketId = b.BasketId
join [BasketItem] bi on bi.BasketId = b.BasketId
join [Size] s on s.SizeId = bi.SizeId
join [Product] p on p.ProductId = s.ProductId
order by bi.BasketItemId

-- calculate postage
declare @orderWeights table
(
	OrderId int,
	[Weight] int
)

-- calculate basket weight
insert @orderWeights 
select o.OrderId, sum(p.[Weight])
from [Order] o
join [Basket] b on o.BasketId = b.BasketId
join [BasketItem] bi on bi.BasketId = b.BasketId
join [Size] s on s.SizeId = bi.SizeId
join [Product] p on p.ProductId = s.ProductId
group by o.OrderId

update [Order] set PostagePrice = 
	isnull((select min(ps.Price) * pz.Multiplier
		from [Postage] ps
		where w.[Weight] <= ps.MaxWeight
	), (case pz.AskIfMaxWeight when 0 then pz.FlatRate else null end))
from [Order] o
join @orderWeights w on w.OrderId = o.OrderId
join [Basket] b on o.BasketId = b.BasketId
join [Country] c on b.CountryId = c.CountryId
join [PostZone] pz on pz.PostZoneId = c.PostZoneId

-- create postage description
update [Order] set PostageDescription = 
	'for ' + c.Name
from [Order] o
join [Basket] b on o.BasketId = b.BasketId
join [Country] c on b.CountryId = c.CountryId

update [Order] set PostagePhone = 0
update [Order] set PostagePhone = 1 where PostagePrice is null
GO

-- drop BasketId from Basket
ALTER TABLE [dbo].[Order] DROP
COLUMN [BasketId]
GO

