<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SutekiShopConnectionString" connectionString="Data Source=localhost;Initial Catalog=SutekiShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
